@import "base_theme.scss";
// ------------------------------------------------------------------- This is the main page section -------------------------------------------------------------------
//scroll
/* width */
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $primary-color; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $tertiary-color; 
}

::-webkit-scrollbar {
    width: 20px;
 }

@mixin text() {
    position: absolute;
    top: 50px;
    margin: 25px;
    color: gray;
    font-size: 18px;
}

.links {
    a {
        cursor: pointer;
        color: black;
        
    }
    
    #study {
        // Defines the study div element; where students can click on go onto to learn
        background-color: #FBE4E4;
        border-radius: 100px;
        position: absolute;
        left: 15%;
        bottom: 3%;
        width: 300px;
        height: 600px;


        h2 {
            position: absolute;
            left: 40%;
        }

        #img-study-container {
            position: absolute;
            bottom: -30px;
            left: 20px;


            img {
                float: right;
                max-width: 100%;
                height: auto
            }
        }

        p {
            @include text()
        }
    }
}

#learn {

    // Defines the learn div element; where students can click on go see the summary of the revision notes

    background-color: #D4FAE5;
    border-radius: 100px;
    position: absolute;
    left: 36%;
    bottom: 35%;
    width: 800px;
    height: 300px;
    z-index: 0;

    h2 {
        position: absolute;
        left: 45%;
    }

    #img-learn-container {
        position: absolute;
        bottom: -60px;
        left: 485px;

        img {
            float: right;
            max-width: 100%;
            height: auto;
        }
    }

    p {
        @include text();
    }
}

#quiz {

    // Defines the study div element; where students can click on go onto quizes

    background-color: #E6E1FD;
    border-radius: 100px;
    position: absolute;
    left: 36%;
    bottom: 3%;
    width: 800px;
    height: 300px;
    z-index: 0;

    h2 {
        position: absolute;
        left: 45%;
    }
    #img-quiz-container {
        position: absolute;
        bottom: -30px;
        left: 485px;
            
        img {
            float: right;
            max-width: 100%;
            height: auto;
        }
    }

    p {
        @include text();
    }
}

#note {
    // Shows what the blog is about
    position: absolute;
    text-align: center;
    bottom: -3%;
    left: 25%;
    color: $tertiary-color
}

#quiz_border {
    position: absolute;
    bottom: 0%;
    left: 8%;

    #quiz_page {
        width: 85vw;
        height: 85vh;
        background: white;
        border-radius: 50px;
        border: solid;
    }
}

// ------------------------------------------------------------------- Defines the content for smaller pages -------------------------------------------------------------------

@media only screen and (max-width: 1300px) {

    #content {
        @mixin  border-section() {
            width: 100%;
            height: 300px;
            left: 0%;
            margin-bottom: 5%;
        }

        @mixin border-section-container {
            position: absolute;
            right: 0%;
        }

        nav {
            top: -20px;
            margin-left: 0px;
            left: 0px;
            width: 100%;

            ul {
                border-radius: 0%;
                li {
                    padding-bottom: 0px;
                    display: inline;
                    padding-left: 5%;
                }

                #last-element {
                    padding-right: 200px;
                }
            }
        }
        
        .links {

            #study {
                @include border-section();
                bottom: 40%;

                #img-study-container {
                    @include border-section-container;
                    left: 485px;
                }

            }

            #learn {
                @include border-section();
                bottom: 8%;

                #img-learn-container {
                    @include border-section-container;
                }
            }

            #quiz {
                @include border-section();
                bottom: -24%;

                #img-quiz-container {
                    @include border-section-container;
                }
            }
        }

        #note {      
            bottom: -32%;
            left: 15%;
        }
    }
}

