@import "../css/Networks/base.scss";
@import url('https://fonts.googleapis.com/css2?family=Gayathri&family=Josefin+Sans:ital,wght@0,300;0,400;1,400&display=swap');

html {
    font-family: 'Gayathri', sans-serif;
}

#content {
    overflow: hidden;
}

@mixin circle($width, $height, $bottom, $left) {
    position: relative;
    border-radius: 50%;
    transform: skew(-6deg);
    background-color: #B4DA55;
    background-image: linear-gradient(blue, plum, #E6E1FD);
    width: $width;
    height: $height;
    bottom: $bottom;
    left: $left;
}

#header {

    #header-img-1 {
        @include circle(800px, 800px, 2040px, 430px);
        
    }
    #header-img-3 {
        @include circle(150px, 150px, 2510px, 1120px);
        background-image: linear-gradient(plum, #E6E1FD, white);
    }

    #header-img-2 {
        @include circle(700px, 700px, 470px, 1010px)
    }

    #header-img {
        @include circle(1000px, 1000px, 1440px, -220px);

    }

    h1 {
        position: absolute;
        top: 65px;
        transform: skew(-6deg);
        margin: 50px;
    }

    form {
        position: relative;
        bottom: 2500px;
        left: 60%;
        
        input, button {
            border-radius: 50px;
        }
    }

}

nav {
    position: absolute;
    top: 290px;
    margin-left: 30px;
    ul {
        list-style-type: none;
        background-color: #F42069;
        //background-image: $secondary-color;
        padding: 10px;
        border-radius: 50px;
    }

    li {
        padding-bottom: 100px;
        a {
            color: white;
            width: 50em;
            height: 50em;
            text-decoration: none;
        }

        a:hover:not(.active){
            color: black;
        }

    }

    #last-element {
        padding-bottom: inherit; //To let the last element have a normal padding spacing
    }

}

@mixin text() {
    position: absolute;
    top: 50px;
    margin: 25px;
    color: gray;
    font-size: 18px;
}

#study {
    background-color: #FBE4E4;
    background-image: linear-gradient(lightpink, #FBE4E4, white);
    border-radius: 100px;
    position: relative;
    bottom: 2400px;
    left: 14%;
    width: 300px;
    height: 600px;


    h2 {
        position: absolute;
        left: 40%;
    }

    #img-study-container {
        position: absolute;
        bottom: -30px;
        left: 20px;


        img {
            float: right;
            max-width: 100%;
            height: auto
        }
    }

    p {
        @include text()
    }
}

#learn {
    background-color: #D4FAE5;
    background-image: linear-gradient(yellow, lightyellow, white);
    border-radius: 100px;
    position: relative;
    left: 36%;
    bottom: 3005px;
    width: 800px;
    height: 300px;
    z-index: 0;

    h2 {
        position: absolute;
        left: 45%;
    }

    #img-learn-container {
        position: absolute;
        bottom: -60px;
        left: 485px;

        img {
            float: right;
            max-width: 100%;
            height: auto;
        }
    }

    p {
        @include text();
    }
}

#quiz {
    background-color: #E6E1FD;
    background-image: linear-gradient(lightgreen, #D4FAE5, white);
    border-radius: 100px;
    position: relative;
    left: 36%;
    bottom: 2995px;
    width: 800px;
    height: 300px;
    z-index: 0;

    h2 {
        position: absolute;
        left: 45%;
    }
    #img-quiz-container {
        position: absolute;
        bottom: -30px;
        left: 485px;
            
        img {
            float: right;
            max-width: 100%;
            height: auto;
        }
    }

    p {
        @include text();
    }
}

#note {
    position: relative;
    bottom: 3000px;
    left: 25%;
    color: purple;
}

@media only screen and (max-width: 1300px) {

    @mixin  border-section() {
        width: 100%;
        height: 300px;
        left: 0%;
        bottom: 0%; 
        padding-bottom: 10%;
    }

    @mixin border-section-container {
        position: absolute;
        bottom: -10%;
        right: 1%;
    }

    nav {
        top: -20px;
        margin-left: 0px;
        left: 0px;
        width: 100%;

        ul {
            border-radius: 0%;
            li {
                padding-bottom: 0px;
                display: inline;
                padding-left: 5%;
            }

            #last-element {
                padding-right: 200px;
            }
        }
    }
    .links {
        position: relative;
        bottom: 2300px;
        margin: 20px;

        #study {
            @include border-section();

            #img-study-container {
                @include border-section-container;
                left: 485px;
            }

        }

        #learn {
            @include border-section();

            #img-learn-container {
                @include border-section-container;
            }
        }

        #quiz {
            @include border-section();

            #img-quiz-container {
                @include border-section-container;
            }
        }
    }

    #note {      
        bottom: 2200px;
        left: 3%;
    }
}