@import "../css/Networks/base.scss";
@import "theme.scss";
@import url('https://fonts.googleapis.com/css2?family=Gayathri&family=Josefin+Sans:ital,wght@0,300;0,400;1,400&display=swap');

#content {
    width: 100%;
    height: 100vh;
    position: relative;
}

html {
    width: 100%;
    height: 100vh;
}

nav {
    position: absolute;
    bottom: -3.5%;
    z-index: 2;
    left: 10%;

    ul {
        list-style-type: none;
    }

    li {
        display: inline-block;
        
        a {
            color: white;
            text-decoration: none;
        }

        a:hover:not(.active) {
            color: black;
        }
    }
}
.links {
    position: absolute;
    height: 80vh;
    bottom: -85%;
    background-color: $secondary-colorTwo;
    opacity: 90%;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    padding-top: 25%;
    padding-bottom: 10%;
    overflow: hidden;

    @mixin  arrow() {
        border: none;
        background-color: inherit;
        font-size: 20px;
        position: absolute;
        left: 45%;
        top: 0%;
        color: white;
        a:hover {
            color: bl
        }
    }
    #arrow-up {
        @include arrow();
    }

    #arrow-down {
        @include arrow();
        visibility: hidden;
    }

    @mixin sections($color, $margin) {
        background-color: $color;
        border-radius: 50px;
        width: 90%;
        height: 200px;
        position: relative;
        left: 5%;

        h2 {
            padding-left: 5%;
            padding-top: 5%;
        }

        p {
            margin: $margin;
            font-size: 2.3vw;
            margin-left: 3%;
            margin-right: 3%;
        }

        img {
            float: right;
            width: 130px;
            height: 40%;
        }
    }

    #study {
        @include sections(#FBE4E4, -4%);
    }

    #learn {
        @include sections(#CBFDE4, 0%);
    }

    #quiz {
        @include sections(#E8DEFF, 0%);
    }

}

#note {
    position: relative;
    bottom: 3250px;
    margin: 10%;
    color: #4A5CE6;
}