@import url("https://fonts.googleapis.com/css2?family=Gayathri&family=Josefin+Sans:ital,wght@0,300;0,400;1,400&display=swap");
html {
  font-family: "Gayathri", sans-serif;
}

#header #header-img-1 {
  position: relative;
  border-radius: 50%;
  transform: skew(-6deg);
  background-color: #B4DA55;
  background-image: linear-gradient(#B4DA55, #D4FAE5);
  width: 800px;
  height: 800px;
  bottom: 2040px;
  left: 430px;
}
#header #header-img-3 {
  position: relative;
  border-radius: 50%;
  transform: skew(-6deg);
  background-color: #B4DA55;
  background-image: linear-gradient(#B4DA55, #D4FAE5);
  width: 150px;
  height: 150px;
  bottom: 2510px;
  left: 1120px;
  background-image: linear-gradient(green, lightgreen, white);
}
#header #header-img-2 {
  position: relative;
  border-radius: 50%;
  transform: skew(-6deg);
  background-color: #B4DA55;
  background-image: linear-gradient(#B4DA55, #D4FAE5);
  width: 700px;
  height: 700px;
  bottom: 470px;
  left: 1010px;
}
#header #header-img {
  position: relative;
  border-radius: 50%;
  transform: skew(-6deg);
  background-color: #B4DA55;
  background-image: linear-gradient(#B4DA55, #D4FAE5);
  width: 1000px;
  height: 1000px;
  bottom: 1440px;
  left: -220px;
}
#header h1 {
  position: absolute;
  top: 10px;
  transform: skew(-6deg);
  margin: 50px;
}
#header form {
  position: absolute;
  top: 55px;
  left: 1000px;
}
#header form input, #header form button {
  border-radius: 50px;
}

nav {
  position: absolute;
  top: 290px;
  margin-left: 30px;
  z-index: 2;
}
nav ul {
  list-style-type: none;
  background-color: #F42069;
  padding: 10px;
  border-radius: 50px;
}
nav li {
  padding-bottom: 100px;
}
nav li a {
  color: white;
  width: 50em;
  height: 50em;
  text-decoration: none;
}
nav li a:hover:not(.active) {
  color: black;
}
nav #last-element {
  padding-bottom: inherit;
}

#study {
  background-color: #FBE4E4;
  background-image: linear-gradient(lightpink, #FBE4E4, white);
  border-radius: 100px;
  position: relative;
  bottom: 2400px;
  left: 14%;
  width: 300px;
  height: 600px;
  z-index: 1;
}
#study h2 {
  position: absolute;
  left: 40%;
}
#study #img-study-container {
  position: absolute;
  bottom: -30px;
  left: 20px;
}
#study #img-study-container img {
  float: right;
}
#study p {
  position: absolute;
  top: 50px;
  margin: 25px;
  color: gray;
  font-size: 18px;
}

#learn {
  background-color: #D4FAE5;
  background-image: linear-gradient(plum, #E6E1FD, white);
  border-radius: 100px;
  position: relative;
  left: 36%;
  bottom: 3005px;
  width: 800px;
  height: 300px;
  z-index: 0;
}
#learn h2 {
  position: absolute;
  left: 45%;
}
#learn #img-learn-container {
  position: absolute;
  bottom: -60px;
  left: 485px;
}
#learn #img-learn-container img {
  float: right;
}
#learn p {
  position: absolute;
  top: 50px;
  margin: 25px;
  color: gray;
  font-size: 18px;
}

#quiz {
  background-color: #E6E1FD;
  background-image: linear-gradient(lightgreen, #D4FAE5, white);
  border-radius: 100px;
  border-radius: 50px;
  position: relative;
  left: 36%;
  bottom: 2995px;
  width: 800px;
  height: 300px;
  z-index: 0;
}
#quiz h2 {
  position: absolute;
  left: 45%;
}
#quiz #img-quiz-container {
  position: absolute;
  bottom: -30px;
  left: 485px;
}
#quiz #img-quiz-container img {
  float: right;
}
#quiz p {
  position: absolute;
  top: 50px;
  margin: 25px;
  color: gray;
  font-size: 18px;
  width: 500px;
}

#note {
  position: relative;
  bottom: 3000px;
  left: 25%;
  color: purple;
}

/*# sourceMappingURL=home.css.map */
