@import "../css/Networks/base.scss";
@import "theme.scss";
@import url('https://fonts.googleapis.com/css2?family=Gayathri&family=Josefin+Sans:ital,wght@0,300;0,400;1,400&display=swap');

#arrow-down, #arrow-up {
    visibility: hidden; // These are elements made for the mobile page, far the main page there are simply hidden
}

nav {
    position: absolute;
    top: 290px;
    margin-left: 30px;
    ul {
        list-style-type: none;
        background-color: $secondary-color;
        padding: 10px;
        border-radius: 50px;
    }

    li {
        padding-bottom: 100px;
        a {
            color: white;
            width: 50em;
            height: 50em;
            text-decoration: none;
        }

        a:hover:not(.active){
            color: black;
        }

    }

    #last-element {
        padding-bottom: inherit; //To let the last element have a normal padding spacing
    }

}
// ------------------------------------------------------------------- This is the main page section -------------------------------------------------------------------

@mixin text() {
    position: absolute;
    top: 50px;
    margin: 25px;
    color: gray;
    font-size: 18px;
}

#study {
    // Defines the study div element; where students can click on go onto to learn
    background-color: #FBE4E4;
    border-radius: 100px;
    position: relative;
    bottom: 2400px;
    left: 14%;
    width: 300px;
    height: 600px;


    h2 {
        position: absolute;
        left: 40%;
    }

    #img-study-container {
        position: absolute;
        bottom: -30px;
        left: 20px;


        img {
            float: right;
            max-width: 100%;
            height: auto
        }
    }

    p {
        @include text()
    }
}

#learn {

    // Defines the learn div element; where students can click on go see the summary of the revision notes

    background-color: #D4FAE5;
    border-radius: 100px;
    position: relative;
    left: 36%;
    bottom: 3005px;
    width: 800px;
    height: 300px;
    z-index: 0;

    h2 {
        position: absolute;
        left: 45%;
    }

    #img-learn-container {
        position: absolute;
        bottom: -60px;
        left: 485px;

        img {
            float: right;
            max-width: 100%;
            height: auto;
        }
    }

    p {
        @include text();
    }
}

#quiz {

    // Defines the study div element; where students can click on go onto quizes

    background-color: #E6E1FD;
    border-radius: 100px;
    position: relative;
    left: 36%;
    bottom: 2995px;
    width: 800px;
    height: 300px;
    z-index: 0;

    h2 {
        position: absolute;
        left: 45%;
    }
    #img-quiz-container {
        position: absolute;
        bottom: -30px;
        left: 485px;
            
        img {
            float: right;
            max-width: 100%;
            height: auto;
        }
    }

    p {
        @include text();
    }
}

#note {
    // Shows what the blog is about
    position: relative;
    bottom: 3000px;
    left: 25%;
    color: purple;
}

// ------------------------------------------------------------------- Defines the content for smaller pages -------------------------------------------------------------------

@media only screen and (max-width: 1300px) {

    @mixin  border-section() {
        // A function/mixin to define how each border section would appear like
        width: 100%; // makes the width response corresponding to the height
        height: 300px;
        // To rests the positions
        left: 0%;
        bottom: 0%; 
        margin-bottom: 2%;
    }

    @mixin border-section-container {
        position: absolute;
        bottom: -10%;
        right: 1%;
    }

    nav {
        top: -20px;
        margin-left: 0px;
        left: 0px;
        width: 100%;

        ul {
            border-radius: 0%;
            li {
                padding-bottom: 0px;
                display: inline;
                padding-left: 5%;
            }

            #last-element {
                padding-right: 200px;
            }
        }
    }
    
    .links {
        position: relative;
        bottom: 2300px;
        margin: 20px;

        #study {
            @include border-section();

            #img-study-container {
                @include border-section-container;
                left: 485px;
            }

        }

        #learn {
            @include border-section();

            #img-learn-container {
                @include border-section-container;
            }
        }

        #quiz {
            @include border-section();

            #img-quiz-container {
                @include border-section-container;
            }
        }
    }

    #note {      
        bottom: 2200px;
        left: 3%;
    }
}