/*
    Arthur: 
        Adanna Obibuaku
    Date:
        26/07/2020
    Purpose:
        This is the main mobile theme
*/
// Defines the text
h1, p {
    color: $text-color;
    @include text-font();
}

// This is the header
#header {
    h1 {
        position: relative;
        text-align: center;
        top: 5vh;
        margin: 5%;
    }

// The form is the search button
    form {
        position: relative;
        left: 20vw;
        top: -10vh;

        input, button {
            border-radius: 5px;
            padding: 5px;
            border: 1px solid gray;
        }
        input[type=text]{
            width: 50%;
        }
        button {
            color: white;
            background-color: $secondary-color;
            cursor: pointer;
        }
    }

//This defines the image
    #mobile_header {
        visibility: visible;
        max-width: 375px;
        height: 100%;
        position: relative;
        left: 10%;
    }
}

// This is the content
#content {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #A49CF9;
    border-radius: 10px;
    overflow: hidden;
}

// Defines the nav bar
nav {
    position: absolute;
    bottom: 0%;
    z-index: 2;
    left: 20%;

    ul {
        list-style-type: none;
    }

    li {
        display: inline-block;
        
        a {
            color: white;
            text-decoration: none;
        }

        a:hover:not(.active) {
            color:black;
        }
    }
}

//links the user may need
.links {
    position: absolute;
    height: 80vh;
    bottom: -85%;
    background-color: $primary-color;
    opacity: 70%;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    padding-top: 25%;
    padding-bottom: 10%;
    overflow: scroll;
    z-index: 1;

    a {
        cursor: pointer;
        color: black;
        text-decoration: none;
        
    }

    @mixin  arrow() {
        border: none;
        background-color: inherit;
        font-size: 20px;
        position: absolute;
        left: 45%;
        top: 0%;
        color: white;
        a:hover {
            color: black;
        }
    }
    #arrow-up {
        @include arrow();
    }

    #arrow-down {
        @include arrow();
        visibility: hidden;
    }

    @mixin sections($color, $margin) {
        background-color: $color;
        border-radius: 50px;
        width: 90%;
        height: 200px;
        position: relative;
        left: 5%;

        h2 {
            padding-left: 5%;
            padding-top: 5%;
        }

        p {
            margin: $margin;
            font-size: 2.3vw;
            margin-left: 3%;
            margin-right: 3%;
            color: black;
        }

        img {
            float: right;
            width: 130px;
            height: 40%;
        }
    }

    #study {
        @include sections(#FBE4E4, -4%);
    }

    #learn {
        @include sections(#CBFDE4, 0%);
    }

    #quiz {
        @include sections(#E8DEFF, 0%);
    }

}

#note {
    margin: 10%;
    text-align: center;
}

@media only screen and (max-width: 400px) {

    #header {
        #mobile_header {
            left: 3vw;
        }
    }

    nav {
        left: 14%
    }

}

.borders {
    position: absolute;
    bottom: 15%;
    left: 4.5%;
    z-index: 2;


    button {
        position: relative;
        left: 10%;
        top: 44px;
        border: solid 2px;
        background-color: red;
        color: white;
        border-radius: 50px;
    }

    .pages {
        border-radius: 50px;
        width: 90vw;
        height: 80vh;
        border: solid;
        background-color: white;
    }
}