/*
    Arthur: 
        Adanna Obibuaku
    Date:
        30/07/20
    Purpose:
        A secondary theme design mainly used for iframe displays
*/

h1, h2, p {
    @include text-font();
}

h1 {
    text-align: center;
}

@keyframes glowing {
    /*
        Used later to change the box shadow of an element.
    */
    0% { box-shadow: 0 0 -10px $tertiary-color; }
    40% { box-shadow: 0 0 20px $tertiary-color; }
    60% { box-shadow: 0 0 20px $tertiary-color; }
    100% { box-shadow: 0 0 -10px $tertiary-color; }
    }

a {
    /*
        To make all links have a text-decoration set to none
    */
    text-decoration: none;
    color: black;
}

@keyframes textmoving {
    /*
        Animation which shifts the padding
    */
    0% {padding-left: 2%}
    100% {padding-left: 4%}
}

#content {

    .repeat_container {
        /**
            Repeat container responds to a certain numbers of classes of div elements which
            are repeated using the angular framework.
            Its specifes the margin, cursor and the font of the text
        **/
        margin: 10%; 
        cursor: pointer;
        @include text-font();

        .repeat_inner_container {
            /**
                This repeated container set of class of div element which
                inside the second repeated container which we defined above.
                This defines the border, margin, radius and padding.
            **/
            border: solid 2px grey;
            margin: 3%;
            border-radius: 10px;
            padding: 2%;

            input[type="radio"], p {
                /**
                    A repeated container may have an input or a p element
                    This simply decides the design.
                **/
                padding-left: 3%;
                text-align: center;
            }
        }
        .button_links {
            background-color: white;
            width: 80vw;
            @include text-font();
            font-size: 1em;
            
        }
    }


    .repeat_inner_container:hover {
        /**
            Defines what should happen when a repeated
            inner container is hovered on
        **/
        background-color: $primary-color;
        animation: glowing 2000ms, textmoving 1000ms;
        box-shadow: 0 0 -10px $tertiary-color; 
        padding-left: 4%;
        cursor: pointer;
    }


    // This code below might be used for some webpages which have a submit button or a back button
    // The css code below specifys the button_sumbit and how the back button appears
    #button_submit, #back{
        border-radius: 50px;
        @include text-font();
        border: solid 2px grey;
        color: white;
    }

    #button_submit {
        /**
            Specifys the design for the button submit only
        **/
        background-color: $primary-color;
        margin: 5%;
    }

    #back_container {
        /**
            This is the parnet element of the "back element"
            which design is defined below
        **/
        #back {
            background-color: rgb(54, 194, 54);
            float: right;
            width: 50px;
            height: 20px;
            text-align: center;
            margin-right: 5%;
            color: white;
            
        }
    }

    #header {
        visibility: hidden;
    }


}

