@import url('https://fonts.googleapis.com/css2?family=Dekko&display=swap');


$header-color: linear-gradient(blue, plum, #E6E1FD);
$primary-color: #4A5CE6;
$secondary-color: #F42069;
$tertiary-color: purple;
$text-color: white;

  

@mixin text-font() {
    font-family: "Dekko", "Copperplate", "Copperplate Gothic Light", "fantasy", "serif";
}

