@import url("https://fonts.googleapis.com/css2?family=Dekko&display=swap");
/*
 Arthur: 
    Adanna
 Date: 
    26/07/20
 Purpose:
    The holds the overall theme for the web page
*/
html {
  font-family: "Dekko", "Copperplate", "Copperplate Gothic Light", "fantasy", "serif";
}

html {
  width: 100vw;
  height: 100vh;
}

#content {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#header {
  height: 490px;
  width: 100%;
  overflow: hidden;
}
#header #header-img-1 {
  position: relative;
  border-radius: 50%;
  transform: skew(-6deg);
  background-color: #F42069;
  background-image: linear-gradient(blue, plum, #E6E1FD);
  width: 800px;
  height: 800px;
  bottom: 2040px;
  left: 430px;
}
#header #header-img-3 {
  position: relative;
  border-radius: 50%;
  transform: skew(-6deg);
  background-color: #F42069;
  background-image: linear-gradient(blue, plum, #E6E1FD);
  width: 150px;
  height: 150px;
  bottom: 2510px;
  left: 1120px;
}
#header #header-img-2 {
  position: relative;
  border-radius: 50%;
  transform: skew(-6deg);
  background-color: #F42069;
  background-image: linear-gradient(blue, plum, #E6E1FD);
  width: 700px;
  height: 700px;
  bottom: 470px;
  left: 1010px;
}
#header #header-img {
  position: relative;
  border-radius: 50%;
  transform: skew(-6deg);
  background-color: #F42069;
  background-image: linear-gradient(blue, plum, #E6E1FD);
  width: 1000px;
  height: 1000px;
  bottom: 1440px;
  left: -220px;
}
#header h1 {
  position: absolute;
  top: 65px;
  margin: 50px;
}
#header form {
  position: relative;
  bottom: 2800px;
  left: 60%;
}
#header form input, #header form button {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid gray;
}
#header form input[type=text] {
  width: 30%;
}
#header form button {
  color: white;
  background-color: #F42069;
  cursor: pointer;
}
#header #mobile_header {
  visibility: hidden;
}

#arrow-down, #arrow-up {
  visibility: hidden;
}

nav {
  position: absolute;
  top: 250px;
  margin-left: 30px;
}
nav ul {
  list-style-type: none;
  background-color: #F42069;
  padding: 10px;
  border-radius: 50px;
}
nav li {
  padding-bottom: 100px;
}
nav li a {
  color: white;
  width: 50em;
  height: 50em;
  text-decoration: none;
}
nav li a:hover:not(.active) {
  color: black;
}
nav #last-element {
  padding-bottom: inherit;
}

@media only screen and (max-width: 1300px) {
  /**
      Specify other screens
  **/
  nav {
    top: -20px;
    margin-left: 0px;
    left: 0px;
    width: 100%;
  }
  nav ul {
    border-radius: 0%;
  }
  nav ul li {
    padding-bottom: 0px;
    display: inline;
    padding-left: 5%;
  }
  nav ul #last-element {
    padding-right: 200px;
  }
}
/* width */
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4A5CE6;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: purple;
}

::-webkit-scrollbar {
  width: 20px;
}

.links {
  /**
      The navigation section to help the user
  **/
  position: absolute;
  left: 15%;
  top: 200px;
  overflow: visible;
  height: 700px;
}
.links a {
  cursor: pointer;
  color: black;
}
.links #study {
  background-color: #FBE4E4;
  border-radius: 100px;
  position: relative;
  width: 300px;
  height: 600px;
}
.links #study h2 {
  position: absolute;
  left: 40%;
}
.links #study #img-study-container {
  position: absolute;
  bottom: -30px;
  left: 20px;
}
.links #study #img-study-container img {
  float: right;
  max-width: 100%;
  height: auto;
}
.links #study p {
  text-align: justify;
  position: absolute;
  top: 50px;
  margin: 25px;
  color: gray;
  font-size: 18px;
}

#learn {
  background-color: #D4FAE5;
  border-radius: 100px;
  position: relative;
  left: 36%;
  margin-left: 3%;
  margin-bottom: 3%;
  width: 800px;
  height: 300px;
  bottom: 590px;
}
#learn h2 {
  position: absolute;
  left: 45%;
}
#learn #img-learn-container {
  position: absolute;
  bottom: -60px;
  left: 485px;
}
#learn #img-learn-container img {
  float: right;
  max-width: 100%;
  height: auto;
}
#learn p {
  text-align: justify;
  position: absolute;
  top: 50px;
  margin: 25px;
  color: gray;
  font-size: 18px;
}

#quiz {
  background-color: #E6E1FD;
  border-radius: 100px;
  position: relative;
  left: 36%;
  margin-left: 3%;
  width: 800px;
  height: 300px;
  bottom: 590px;
}
#quiz h2 {
  position: absolute;
  left: 45%;
}
#quiz #img-quiz-container {
  position: absolute;
  bottom: -30px;
  left: 485px;
}
#quiz #img-quiz-container img {
  float: right;
  max-width: 100%;
  height: auto;
}
#quiz p {
  text-align: justify;
  position: absolute;
  top: 50px;
  margin: 25px;
  color: gray;
  font-size: 18px;
}

#note {
  position: absolute;
  text-align: center;
  bottom: -150px;
  left: 25%;
  color: purple;
}

.borders {
  position: absolute;
  top: 3%;
  left: 8%;
}
.borders button {
  position: relative;
  top: -860px;
  left: 5%;
  border: solid 2px;
  background-color: red;
  color: white;
  border-radius: 50px;
}
.borders .pages {
  width: 85vw;
  height: 900px;
  background: white;
  border-radius: 50px;
  border: solid;
}

@media only screen and (max-width: 1300px) {
  #content #arrow-up, #content #arrow-down {
    visibility: hidden;
  }
  #content .links {
    width: 100vw;
    height: 100vh;
    bottom: -35%;
    left: 0;
  }
  #content .links #study {
    width: 100%;
    height: 300px;
    left: 0%;
    margin: 0%;
    margin-bottom: 3%;
    bottom: initial;
    z-index: 0;
  }
  #content .links #study #img-study-container {
    right: 0%;
    z-index: -5;
    left: 485px;
  }
  #content .links #study p {
    width: 65vw;
  }
  #content .links #learn {
    width: 100%;
    height: 300px;
    left: 0%;
    margin: 0%;
    margin-bottom: 3%;
    bottom: initial;
    z-index: 0;
  }
  #content .links #learn #img-learn-container {
    right: 0%;
    z-index: -5;
  }
  #content .links #learn p {
    width: 65vw;
  }
  #content .links #quiz {
    width: 100%;
    height: 300px;
    left: 0%;
    margin: 0%;
    margin-bottom: 3%;
    bottom: initial;
    z-index: 0;
  }
  #content .links #quiz #img-quiz-container {
    right: 0%;
    z-index: -5;
  }
  #content .links #quiz p {
    width: 65vw;
  }
  #content #note {
    bottom: -450px;
    left: 20%;
  }
}

/*# sourceMappingURL=home.css.map */
